
<header class="mb-2 px-4 shadow ">
    <div class="relative mx-auto flex max-w-screen-xl flex-col py-2 sm:flex-row sm:items-center sm:justify-between">
    
      <a href="#" class="flex items-center whitespace-nowrap text-2xl font-black ">
        <span class="w-8">
          <img src="/static/img/logo.png" alt="" />
        </span>
      </a>
      <input type="checkbox" class="peer hidden" id="navbar-open" />
      <label class="absolute top-5 right-5 cursor-pointer lg:hidden" for="navbar-open">
        <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
      <nav aria-label="Header Navigation" class="peer-checked:pt-8 peer-checked:max-h-60 flex max-h-0 w-full flex-col overflow-hidden transition-all lg:ml-24 lg:max-h-full lg:flex-row">
        <ul class="flex items-center j w-full flex-col space-y-2 lg:flex-row lg:justify-end lg:space-y-0">
          <li class="lg:mr-12"><a class="rounded text-gray-700 transition focus:outline-none focus:ring-1 focus:ring-blue-700 focus:ring-offset-2" href="{% url 'core:index' %}">Início</a></li>
        </ul>
        <hr class="mt-4 w-full lg:hidden" />
        
      </nav>
    </div>
  </header>